*{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}

.buttons-cointainer{
    width: 10rem;
}
.education-header,.personal-details-container,.address-header-container{
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    padding: .5rem;
}